## Groupby

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                  'data':[0,5,10,5,10,15,10,15,20]})
df

  key  data
0   A     0
1   B     5
2   C    10
3   A     5
4   B    10
5   C    15
6   A    10
7   B    15
8   C    20

要将A的全部加起来，B的全部加起来，正常情况下就需要用到for循环遍历

In [2]:
for key in ['A','B','C']:
    print(key, df[df['key'] == key].sum())

A key     AAA
data     15
dtype: object
B key     BBB
data     30
dtype: object
C key     CCC
data     45
dtype: object

利用groupby()就非常简单了

In [3]:
df.groupby('key').sum()

     data
key
A      15
B      30
C      45

In [4]:
df.groupby('key').aggregate(np.mean)

     data
key
A     5.0
B    10.0
C    15.0

In [5]:
df = pd.read_csv('./data/titanic.csv')

### groupby()
* split
* apply
* combine

In [6]:
df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [7]:
df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64