## 常见操作

In [1]:
import pandas as pd
data = pd.DataFrame({'group':['a','a','a','b','b','b','c','c','c'],
                     'data':[4,3,2,1,12,3,4,5,7]})
data

  group  data
0     a     4
1     a     3
2     a     2
3     b     1
4     b    12
5     b     3
6     c     4
7     c     5
8     c     7

排序

In [2]:
data.sort_values(by=['group','data'],ascending=[True,False],inplace=True,axis=0)
data

  group  data
0     a     4
1     a     3
2     a     2
4     b    12
5     b     3
3     b     1
8     c     7
7     c     5
6     c     4

In [3]:
data = pd.DataFrame({'k1':['one']*3+['two']*4,
                     'k2':[1,3,3,2,4,4,5]})
data

    k1  k2
0  one   1
1  one   3
2  one   3
3  two   2
4  two   4
5  two   4
6  two   5

In [4]:
data.sort_values(by='k2',axis=0, inplace=True)
data

    k1  k2
0  one   1
3  two   2
1  one   3
2  one   3
4  two   4
5  two   4
6  two   5

去掉重复数据

In [5]:
data.drop_duplicates()

    k1  k2
0  one   1
3  two   2
1  one   3
4  two   4
6  two   5

指定去除

In [6]:
data.drop_duplicates(subset='k1')

    k1  k2
0  one   1
3  two   2

.apply()对每一行都执行一个操作

In [7]:
data = pd.DataFrame({'food':['A1','A2','A3','B2','B3','C1','C2'],'data':[1,2,3,4,5,6,7]})
data

  food  data
0   A1     1
1   A2     2
2   A3     3
3   B2     4
4   B3     5
5   C1     6
6   C2     7

In [8]:
def food_map(series):
    if series['food'] == 'A1':
        return 'A'
    elif series['food'] == 'A2':
        return 'A'
    elif series['food'] == 'A3':
        return 'A'
    elif series['food'] == 'B1':
        return 'B'
    elif series['food'] == 'B2':
        return 'B'
    elif series['food'] == 'B3':
        return 'B'
    elif series['food'] == 'C1':
        return 'C'
    elif series['food'] == 'C2':
        return 'C'
data['food_map'] = data.apply(food_map, axis='columns')
data

  food  data food_map
0   A1     1        A
1   A2     2        A
2   A3     3        A
3   B2     4        B
4   B3     5        B
5   C1     6        C
6   C2     7        C

映射

In [9]:
food2Upper = {
'A1':'A',
'A2':'A',
'A3':'A',
'B2':'B',
'B3':'B',
'C1':'C',
'C2':'C',
}
data['upper'] = data['food'].map(food2Upper)
data

  food  data food_map upper
0   A1     1        A     A
1   A2     2        A     A
2   A3     3        A     A
3   B2     4        B     B
4   B3     5        B     B
5   C1     6        C     C
6   C2     7        C     C

指定运算

In [10]:
import numpy as np
df = pd.DataFrame({'data1':np.random.randn(5),'data2': np.random.randn(5)})
df2 = df.assign(ration = df['data1']/df['data2'])

In [11]:
df2.drop('ration', axis='columns', inplace=True)
df2

      data1     data2
0  0.207040  0.978167
1 -1.283142  0.723485
2 -0.650068 -0.336052
3 -0.107919  0.926019
4 -0.137231  1.977618

替换

In [12]:
data.replace(4, np.nan, inplace=True)
data

  food  data food_map upper
0   A1   1.0        A     A
1   A2   2.0        A     A
2   A3   3.0        A     A
3   B2   NaN        B     B
4   B3   5.0        B     B
5   C1   6.0        C     C
6   C2   7.0        C     C

离散化

分组

In [13]:
ages = [15, 18, 20, 21, 22, 34, 41, 52, 63, 79]
bins = [10,40,80]
bins_res = pd.cut(ages,bins)
bins_res

[(10, 40], (10, 40], (10, 40], (10, 40], (10, 40], (10, 40], (40, 80], (40, 80], (40, 80], (40, 80]]
Categories (2, interval[int64, right]): [(10, 40] < (40, 80]]

In [14]:
pd.value_counts(bins_res)

(10, 40]    6
(40, 80]    4
dtype: int64

In [15]:
bins_res = pd.cut(ages,[10,30,40,80])

In [16]:
pd.value_counts(bins_res)

(10, 30]    5
(40, 80]    4
(30, 40]    1
dtype: int64

bins也可以是名字

In [17]:
group_names = ['Youth', 'Millde', 'Old']
pd.cut(ages,[10, 20, 50, 80], labels=group_names)

['Youth', 'Youth', 'Youth', 'Millde', 'Millde', 'Millde', 'Millde', 'Old', 'Old', 'Old']
Categories (3, object): ['Youth' < 'Millde' < 'Old']

查找缺失值

In [18]:
df = pd.DataFrame([range(3),[0, np.nan, 0],[0,0,np.nan],range(3)])
df

   0    1    2
0  0  1.0  2.0
1  0  NaN  0.0
2  0  0.0  NaN
3  0  1.0  2.0

In [19]:
df.isnull()

       0      1      2
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [20]:
df.isnull().any()

0    False
1     True
2     True
dtype: bool

In [21]:
df.isnull().any(axis=1)

0    False
1     True
2     True
3    False
dtype: bool

## 字符串操作

In [22]:
import numpy as np
s = pd.Series(['A','B','C','sdwd','cac',np.nan])
s

0       A
1       B
2       C
3    sdwd
4     cac
5     NaN
dtype: object

转换大小写

In [23]:
s.str.lower()

0       a
1       b
2       c
3    sdwd
4     cac
5     NaN
dtype: object

In [24]:
s.str.upper()

0       A
1       B
2       C
3    SDWD
4     CAC
5     NaN
dtype: object

In [25]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    3.0
5    NaN
dtype: float64

删除空格

In [26]:
index = pd.Index(['  ou', ' asa  ', 'as'])
index

Index(['  ou', ' asa  ', 'as'], dtype='object')

In [27]:
index.str.strip()

Index(['ou', 'asa', 'as'], dtype='object')

In [29]:
index.str.lstrip()

Index(['ou', 'asa  ', 'as'], dtype='object')

In [30]:
index.str.rstrip()

Index(['  ou', ' asa', 'as'], dtype='object')

替换操作

In [36]:
df = pd.DataFrame(np.random.randn(3,2), columns= ['A a', "B b"], index= range(3))
df

        A a       B b
0  0.524217  0.252045
1 -0.123049  1.010525
2  1.150404 -0.765022

In [37]:
df.columns = df.columns.str.replace(' ', '_')

In [38]:
df

        A_a       B_b
0  0.524217  0.252045
1 -0.123049  1.010525
2  1.150404 -0.765022

切分操作

In [47]:
s = pd.Series(['b_c_w','w_c_d','w_H_s'])

In [48]:
s

0    b_c_w
1    w_c_d
2    w_H_s
dtype: object

In [49]:
s.str.split('_')

0    [b, c, w]
1    [w, c, d]
2    [w, H, s]
dtype: object

In [50]:
s.str.split('_', expand=True)

   0  1  2
0  b  c  w
1  w  c  d
2  w  H  s

In [51]:
s.str.split('_', expand=True, n=1)

   0    1
0  b  c_w
1  w  c_d
2  w  H_s

In [54]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [55]:
s.str.get_dummies(sep='|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1

查找判断

In [52]:
s = pd.Series(['A','B','C','sdwd','cac',np.nan])
s

0       A
1       B
2       C
3    sdwd
4     cac
5     NaN
dtype: object

In [53]:
s.str.contains('sdwd')

0    False
1    False
2    False
3     True
4    False
5      NaN
dtype: object