## 索引进阶

In [1]:
import pandas as pd
import numpy as np
s=pd.Series(np.arange(5),index=np.arange(5)[::-1], dtype='int64')

In [2]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [3]:
s.isin([1,2,3])

4    False
3     True
2     True
1     True
0    False
dtype: bool

In [5]:
s[s.isin([1,2,3])]

3    1
2    2
1    3
dtype: int64

MultiIndex 多重索引

In [8]:
s2 = pd.Series(np.arange(6),index=pd.MultiIndex.from_product([[0,1],['a','b','c']]))
s2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [9]:
s2.iloc[s2.index.isin([(1,'a'),(2,'b')])]

1  a    3
dtype: int32

In [10]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [11]:
s[s>2]

1    3
0    4
dtype: int64

In [13]:
dates = pd.date_range('20221114',periods=8)
df = pd.DataFrame(np.random.randn(8,4), index=dates,columns=['A','B','C','D'])
df

                   A         B         C         D
2022-11-14  0.694395 -0.387078  0.179196 -1.256544
2022-11-15 -0.324098  0.706293 -0.425700 -0.200550
2022-11-16  2.334011 -0.622737 -0.633787 -0.083892
2022-11-17 -0.534403 -0.130002 -0.890502  0.376483
2022-11-18 -0.391550  0.229421 -0.290576 -0.253306
2022-11-19  0.385381 -0.819674  0.978384  0.287350
2022-11-20  0.938314  0.414820  0.750650 -0.609846
2022-11-21  0.231136  1.019453  0.478019  0.213698

In [14]:
df.where(df<0)

                   A         B         C         D
2022-11-14       NaN -0.387078       NaN -1.256544
2022-11-15 -0.324098       NaN -0.425700 -0.200550
2022-11-16       NaN -0.622737 -0.633787 -0.083892
2022-11-17 -0.534403 -0.130002 -0.890502       NaN
2022-11-18 -0.391550       NaN -0.290576 -0.253306
2022-11-19       NaN -0.819674       NaN       NaN
2022-11-20       NaN       NaN       NaN -0.609846
2022-11-21       NaN       NaN       NaN       NaN

In [15]:
df.where(df<0, -df)

                   A         B         C         D
2022-11-14 -0.694395 -0.387078 -0.179196 -1.256544
2022-11-15 -0.324098 -0.706293 -0.425700 -0.200550
2022-11-16 -2.334011 -0.622737 -0.633787 -0.083892
2022-11-17 -0.534403 -0.130002 -0.890502 -0.376483
2022-11-18 -0.391550 -0.229421 -0.290576 -0.253306
2022-11-19 -0.385381 -0.819674 -0.978384 -0.287350
2022-11-20 -0.938314 -0.414820 -0.750650 -0.609846
2022-11-21 -0.231136 -1.019453 -0.478019 -0.213698

In [16]:
df.query('(A<B) & (B<C)')

Empty DataFrame
Columns: [A, B, C, D]
Index: []