## 元组
元组类似列表。但是元组不可变，元组一旦被创建，各个位置上的对象是无法修改的。不过可以改它的内部的对象。例如：

In [1]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [2]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [3]:
(4, None, 'foo') + (6, 0)

(4, None, 'foo', 6, 0)

In [4]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## 元组拆包
如果想将元组型的表达式赋值给变量，Python会对等号右边的值进行拆包：

In [5]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [6]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

拆包unpack的一个常用场景就是遍历元组或者列表组成的序列：

In [7]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

This is a common way to loop through a sequence of tuples in Python, where each element in the sequence is a tuple with three elements. The loop uses tuple unpacking to assign the values in each tuple to the variables a, b, and c, respectively. Then, the format method is used to insert the values of these variables into the string, which is printed to the console.

## 元组高级拆包功能
要用到特殊*rest，用于在函数调用时获取任意长度的位置参数列表:

In [8]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a,b

(1, 2)

In [9]:
rest

[3, 4, 5]

rest这个变量名没什么特殊的地方，可以用_来代替表示为
`*_`

## 元组方法
元组的内容和长度无法改变，所以它的实例少。一个常用的方法是count。count这个方法在列表中也很常用。用来计量某个数值在元组中出现的次数：

In [10]:
a = (1, 2, 3, 4, 5, 2, 4, 5)
a.count(2)

2